<!-- footer -->
<footer class="footer-area footer--light">
  <div class="footer-big">
    <!-- start .container -->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about">
              <img src="http://placehold.it/250x80" alt="" class="img-fluid">
              <p>Proyecto de la unidad 2 para la materia de Programación Avanzada</p>
              <ul class="contact-details">
                <li>
                  <span class="icon-envelope-open"></span>
                  <a href="mailto:amgoyes@espe.edu.ec">amgoyes@espe.edu.ec</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-4 -->
        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <h4 class="footer-widget-title">Venta de:</h4>
              <ul>
                <li>
                  <a href="#">Vacas</a>
                </li>
                <li>
                  <a href="#">Cerdos</a>
                </li>
                <li>
                  <a href="#">Gallinas</a>
                </li>
                <li>
                  <a href="#">Caballos</a>
                </li>
                <li>
                  <a href="https://www.asogansd.com/">Entre otros...</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              <h4 class="footer-widget-title">Navegación</h4>
              <ul>
                <li>
                  <a
                    routerLink="/home"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    href="#"
                    >Inicio</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/comprobante"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    href="#"
                    >Comprobante</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/landing"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    href="#"
                    >Acerca de</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/transacciones"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    href="#"
                    >Transacciones</a
                  >
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-lg-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu no-padding">
              <h4 class="footer-widget-title">Integrantes</h4>
              <ul>
                <li>
                  <a href="#">Carlos Lucio</a>
                </li>
                <li>
                  <a href="#">Bryan Solórzano</a>
                </li>
                <li>
                  <a href="#">Jhanira Aranda</a>
                </li>
                <li>
                  <a href="#">Anthony Goyes</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- Ends: .col-lg-3 -->

      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.footer-big -->

  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© 2023
              <a href="#">ESPE</a>. Todos los derechos reservados. Creado por
              <a href="#">CBJC</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>