<app-template></app-template>
<div class="container-fluid2">
    <div id="carouselExampleSlidesOnly" class="carousel slide"
        data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i.ibb.co/56Xj2sv/ganado.jpg"
                    class="d-block w-100"
                    alt="...">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <p class="h1 " id="contenido">El ganado que deseas lo encuentras aquí</p>
        <p id="nuestros" class="w-75">
            La asociación de ganaderos requieren de nuestro servicio para
            conocer todo sobre el ganado que se encuentra en venta, así como
            también para conocer el ganado que se encuentra en venta en otras
            asociaciones de ganaderos.
            Actualmente disponemos de la venta y distribución de ganado bovino
            porciono y ovino. <br> </p>
        <p style="padding-top: 30px; padding-bottom: 50px;" class=" w-75
            text-center m-auto ">
            Conoce los beneficios de ser parte de nuestra asociación de
            ganaderos
        </p>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide"
        data-bs-ride="carousel">
        <div class="carousel-inner d-flex">
            <div class="position-absolute text-white text-center
                text-sm-end d-flex col-6 col-sm-4 h-75
                justify-content-start" style="z-index: 1;">
                <h1 class="fw-bold">Variedad en ganado<br>
                    Bovino</h1>
            </div>
            <div class="carousel-item active">
                <img src="https://i.ibb.co/wYRf05C/ganado-2.jpg" class="d-block
                    w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="container text-center pt-5">
        <h2 class="valores">Nuestros Valores</h2>
    </div>
    <div class="row container m-auto mt-5 g-5 mb-5">
        <div class="col-12 col-md-4 mb-5">
            <div class="text-center col-12">
                <h5 class="fw-bold">RESPONSABILIDAD</h5>
            </div>
            <p id="descripcion">El mayor día de tu vida y la mía es cuando
                tomamos responsabilidad total de nuestras actitudes. Ese es el
                día en que realmente crecemos. (John C. Maxwell)</p>
        </div>
        <div class="col-12 col-md-4 mb-5">
            <div class="text-center col-12">
                <h5 class="fw-bold">FORTALEZA</h5>
            </div>
            <p id="descripcion">Las personas fuertes crean sus acontecimientos;
                las débiles sufren lo que les impone el destino. (Alfred Victor
                de Vigny)</p>
        </div>
        <div class="col-12 col-md-4 mb-5">
            <div class="text-center col-12">
                <h5 class="fw-bold">SOLIDARIDAD</h5>
            </div>
            <p id="descripcion">La solidaridad no es un sentimiento superficial,
                es la determinación firme y perseverante de empeñarse por el
                bien común.</p>
        </div>
    </div>
    <div class="row container m-auto g-5 mb-5">
        <div class="col-12 col-md-4 mb-5">
            <div class="text-center col-12">
                <h5 class="fw-bold">VALENTÍA</h5>
            </div>
            <p id="descripcion">El hombre valiente no es aquel que no tiene
                miedo, sino el que conquista ese miedo. (Nelson Mandela)</p>
        </div>
        <div class="col-12 col-md-4 mb-5">
            <div class="text-center col-12">
                <h5 class="fw-bold">HONESTIDAD</h5>
            </div>
            <p id="descripcion">Puedes engañar a algunas personas todo el
                tiempo, y a todas las personas por un tiempo. Pero no puedes
                engañar a todos, todo el tiempo.</p>
        </div>
        <div class="col-12 col-md-4 mb-5">
            <div class="text-center col-12">
                <h5 class="fw-bold">LIDERAZGO</h5>
            </div>
            <p id="descripcion">"En el corazón de todos los inviernos vive una
                primavera palpitante; y detrás de cada noche, viene una aurora
                sonriente."
                Un buen lider, aprende a escuchar.</p>
        </div>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide pb-5"
        data-bs-ride="carousel">
        <div class="carousel-inner d-flex">
            <div class="position-absolute text-white text-center
                text-sm-end d-flex col-12 col-sm-11 h-75
                justify-content-start" style="z-index: 1;">
                <h1 class="fw-bold">Variedad en ganado <br>
                    Porcino</h1>
            </div>
            <div class="carousel-item active">
                <img src="https://i.ibb.co/KWBWypN/porcinos.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    
    


</div>
<app-footer></app-footer>