
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#contenido {
    font-family: 'Sora', sans-serif;
    padding-top: 70px;
    font-size: 35px;
    padding-bottom: 20px;
    color: rgb(0, 189, 47);
}

#nuestros{
    text-align: center;
    margin: auto;
}
.d-flex {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    font-family: 'Sora', sans-serif;
}
.fw-bold{
    font-family: 'Sora', sans-serif;
}
#descripcion{
    font-family: 'Roboto', sans-serif;
}
.valores{
    font-family: 'Sora', sans-serif;
    color: rgb(0, 189, 47);
}

