<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css">
<div class="fondo">

</div>
<div class="container">
  <div class="screen">
    <div class="screen__content">
      <button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" type="submit" class="button login__submit login__return">
        <i class="button__icon button__icon__return fas fa-chevron-left"></i>
        <span class="button__text">Regresar</span>
      </button>
      <form [formGroup]="loginForm" (ngSubmit)="save($event)" class="login">
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input formControlName="emailCtrol" name="email" id="login_username" type="text" class="login__input"
            placeholder="Usuario / Email">
          <div class="position-absolute text-danger fw-bold" *ngIf="emailCtrol?.errors && emailCtrol?.touched">
            <p *ngIf="emailCtrol?.hasError('required')">Es un campo requerido.</p>
            <p *ngIf="emailCtrol?.hasError('email')">
              No es un correo electrónico.
            </p>
          </div>
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input formControlName="passCtrol" name="pass" id="pass" type="password" class="login__input"
            placeholder="Contraseña">
          <div class="position-absolute text-danger fw-bold" *ngIf="passCtrol?.errors && passCtrol?.touched">
            <p *ngIf="passCtrol?.hasError('required')">Es un campo requerido.</p>
            <p *ngIf="passCtrol?.hasError('minlength')">Mínimo 7 caracteres.</p>
          </div>
        </div>
        <button type="submit" class="button login__submit">
          <span class="button__text">Iniciar Sesión</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
      <div class="social-login">
        <h3>LiveStock</h3>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>