.circle-btn {
    border-radius: 50%; /* para hacer el boton circular*/
    width: 50px; /* para ajustar el tamaño del boton */
    height: 50px; /* para ajustar el tamaño del boton */
    padding: 0; /* para quitar los espacios*/
  }